/* Target Process Dark Theme */

/* White Text */
a,
.tau-board-unit__value--number,
.tau-board-unit__points,
.tau-list-line,
.tau-board-unit__value,
.tau-entity-full-name,
.user-title,
.property-text,
.tau-counter,
.user-name,
.entity-id,
.ui-label,
.tau-followlink,
.tau-copylink,
.ui-tags,
.assignments-table__cell--title,
.tau-panel-teams-list__team__responsible-text,
.uploader-text__command,
.ui-comment-ago,
.tau-clientinput h2,
.tau-account-settings-form__label,
.ui-children-container__note,
.i-role-name_output,
.boardsettings-filter__status,
.tau-board-unit,
.click-edit__link-text {
    color: rgb(240, 240, 240) !important;
}

/* Lighter Background */
.tau-board-list-cell-resizer--inner,
.tau-active,
.user-list__title,
.entity-progress-box,
.ui-collapsible-header,
.fileBrowser,
.ui-comment-body,
.select__select__7-6-2 {
    background-color: rgb(100, 100, 100) !important;
}

/* White Text, Darker Background */
.tau-bubble__inner,
.tau-container,
.tau-cover-view_page,
.tau-cover-view--animated::before,
.tau-btn,
.tau-account-settings-container,
.i-role-pagingholder,
.tau-board-body-wrapper,
.tau-board-header {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(64, 64, 64) !important;
}

/* White Text, Background, Borders */
.tau-counter,
.tau-elems-cell,
.i-role-tabheader,
.tau-elems-table,
.tau-list-line,
.tau-project-abbreviation{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(64, 64, 64) !important;
    border-right-color: rgb(100, 100, 100) !important;
    border-left-color: rgb(100, 100, 100) !important;
    border-top-color: rgb(100, 100, 100) !important;
    border-bottom-color: rgb(100, 100, 100) !important;
}

/* Bottom Border */
.tab-item.selected {
    border-bottom: none !important;
}

.tau-entity-text-color--portfolioepic {
    color: rgb(188, 123, 255) !important;
}

.tau-clientinput .highlight pre, .tau-clientinput pre {
    background-color: #393939;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 8px;
    border-radius: 3px;
}